<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% @cars.each do |car| %>
  <%= form_tag park_car_path do %>
    <%= car.name %> 
   
    <%= hidden_field_tag :car_id, car.id %>
    
    <%= select_tag "park_for", options_for_select(Parking::PARKING_TIMES, Parking::DEFAULT_PARKING_TIME) %>
    <%= select_tag :parking_id,
       options_from_collection_for_select(@parkings, "id", "name"),
       onchange: "this.form.submit();", include_blank: 'Pasirinkite' %>
    <br/> 
  <% end %>
<% end %>

<div>
  <h2>Total Balance: <%= ParkingsBalance.last.daily_balance.round(2) %> Eur</h2>
</div>

<div class="row">
  <div class="col-sm-8">
    <% Parking.all.each do |parking| %>
      <h2> Parking <%= parking.name %> balance: <%= parking.balance.round(2) %> Eur </h2>
        <table class="table">
          <thead>
            <th>Car number</th>
            <th>Model</th>
            <th>Parking At</th>
            <th>Until</th>
            <th>Balance</th>
            <th>Progress</th>
          </thead>
          <tbody>
            <% parking.cars.each do |car| %>
              <tr>
              <tr id = "parking_car_row_<%= car.parking_car.id %>">
                <td class="col-md-1"><%= car.number %></td>
                <td class="col-md-1"><%= car.model %></td>
                <td class="col-md-2"><%= convert_time(car.parket_at) %></td>
                <td class="col-md-2"><%= convert_time(car.park_for) %></td>
                <td class="col-md-2">
                  <span id="parking_car_balance_<%= car.parking_car.id %>">
                    <%= money_format(car.balance) %>
                  </span>
                </td>
                <td class="col-md-3">
                <div class="progress">
                  <div class="progress-bar" id="progress_park_car_<%= car.parking_car.id %>" role="progressbar" aria-valuenow="<%= car.parking_car.progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= car.parking_car.progress %>%">
                    <span><%= car.parking_car.progress %></span>
                  </div>
                </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
  </div>
</div>